body {
    background-color: #282c34;
    color: #fff;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    text-align: center;
    background-color: #3b3e47;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    max-width: 400px;
    width: 100%;
}

h1 {
    margin-bottom: 20px;
}

.password-display {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #444854;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 20px;
}

#password {
    background: none;
    border: none;
    color: #fff;
    width: 100%;
    font-size: 1.2em;
    padding: 0;
}

#copy {
    background-color: #61dafb;
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
}

.options {
    text-align: left;
    margin-bottom: 20px;
}

.options label {
    display: block;
    margin-bottom: 10px;
}

button#generate {
    background-color: #61dafb;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1em;
}

button#generate:hover {
    background-color: #21a1f1;
}
